{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheryians</title>
    <link rel="stylesheet" href="../static/webpage.css">
</head>
<body>
    <div id="nav_bar">
        <nav>
            <img src="../static/Sheryians_logo.webp" alt="" id="logo"><span id="logo_heading">Sheryians coding school</span>
            <a href="{% url 'webpage:webpage' %}"><button class="buttons" id="home_button">Home</button></a>
            <a href=""><button class="buttons" id="course_button">Course</button></a>
            <a href=""><button class="buttons" id="boot_button">Bootcamp(Kodr)</button></a>
            <a href=""><button class="buttons" id="request_button">Request Callback</button></a>
            <a href="{% url 'webpage:signin' %}"><button class="buttons" id="signin_button">Sign In</button></a>
        </nav>
    </div>
    <div id="matter">
        <span id="we">We</span><span id="only">only</span><span id="teach">teach</span>
        <br><span id="what">what we are really</span><br><span id="really">really</span><span id="good">good</span><span id="at">at.</span>
    </div>
    <div>
        <a href=""><button id="check_course_button">Check Courses-Make an Impact</button></a>
    </div>
    <div id="para_division">
        <p>
            Get ready to <span id="para">accelerate your career</span> with customized courses and leave your mark on the tech industry
        </p>
    </div>
    <div>
        <h2 id="head_one">25k+</h2>
        <p id="para_first">Students taught</p>
    </div>
    <div>
        <h2 id="head_two">20+</h2>
        <p id="para_second">Instructors</p>
    </div>
    <div>
        <h2 id="head_three">431K+</h2>
        <p id="para_third">Youtube Subs.</p>
    </div>
    <div id="quate_div">
        we do whatever it takes to help you <span id="concept">understand the concepts</span>
    </div>
    <iframe width="952" height="535" src="https://www.youtube.com/embed/60SRAWmMXyc" title="You Are Not Yet Ready | Placements | Open Source" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen id="vedio_frame"></iframe>
    <a href=""><button id="learn_more">Explore free learning</button></a>
    <h1 id="off">Courses Offered.</h1>
    <div id="course_offer1" class="offers">
        <img id="first_img" src="https://ik.imagekit.io/sheryians/courses_gif/Front-End_Domination__Create_Anything_with_Code-FRONTENDTHUBNAIL_Wf8WqcNJx.jpg" alt="">
        <p class="sub_tag">indepth</p>
        <h2 id="h1">Front-End Dominatin:Create Anything with Code</h2>
        <p class="lan">hindi</p>
        <span class="limited">Limited Time Discount</span>
        <p id="ganesh">₹ 4999</p>
        <small class="value">₹ 9999</small>
        <p class="discount">50% OFF</p>
        <a href=""><button class="view_button">View Details</button></a>
    </div>
    <div id="course_offer2" class="offers">
        <img id="second_img" src="https://ik.imagekit.io/sheryians/courses_gif/undefined-backend_0.5x_Medium_wgHDU-5rPt.png" alt="">
        <p class="sub_tag">indepth</p>
        <h2 id="h2">Back-End Dominatin:Create Efficient Back-End.</h2>
        <p class="lan">hindi</p>
        <span class="limited">Limited Time Discount</span>
        <p id="ganesh">₹ 5999</p>
        <small class="value">₹ 11999</small>
        <p class="discount">50% OFF</p>
        <a href=""><button class="view_button">View Details</button></a>
    </div>
    <div id="course_offer3" class="offers">
        <img id="third_img" src="https://ik.imagekit.io/sheryians/courses_gif/undefined-apti_reasoning_45vyAnZ4y.jpeg" alt="">
        <p class="sub_tag" id="place">placements</p>
        <h2 id="h3">Aptitude & Reasoning for Campus Placements</h2>
        <p class="lan">english</p>
        <span class="limited">Black Friday Sale</span>
        <p id="ganesh">₹ 999</p>
        <small class="value">₹ 1500</small>
        <p class="discount">33% OFF</p>
        <a href=""><button class="view_button">View Details</button></a>
    </div>
    <div id="course_offer4" class="offers">
        <img id="forth_img" src="https://ik.imagekit.io/sheryians/courses_gif/undefined-javaas_Large_jY0Wighav__6PygWBZQ.jpeg" alt="">
        <p class="sub_tag">indepth</p>
        <h2 id="h4">Java & DSA Domination</h2>
        <p class="lan">english</p>
        <span class="limited" id="span_limited">Limited Time Discount</span>
        <p id="ganesh_last">₹ 4999</p>
        <small class="value" id="small">₹ 9999</small>
        <p class="discount" id="id_discount">50% OFF</p>
        <a href=""><button class="view_button" id="view_four_button">View Details</button></a>
    </div>
    <div id="course_offer5" class="offers">
        <img id="forth_img" src="https://ik.imagekit.io/sheryians/courses_gif/undefined-maxresdefault_5-AHh9_1Y.jpg" alt="">
        <p class="sub_tag" id="place5">animation</p>
        <h2 id="h3">Three.JS Domination</h2>
        <p class="lan">hindi</p>
        <span class="limited">Black Friday Sale</span>
        <p id="ganesh">₹ 2499</p>
        <small class="value">₹ 3500</small>
        <p class="discount">29% OFF</p>
        <a href=""><button class="view_button">View Details</button></a>
    </div>
    <div id="company_div">
        <span id="top">Top</span><span id="company">companies</span><span id="our">our students</span><span id="working">working with</span>
    </div>
    <div class="logo">
        <img src="https://ik.imagekit.io/sheryians/companies-logo/companies_CcvVE6pUo.png" alt="" id="company_logos">
    </div>
    <a href=""><button id="explore">Explore Courses</button></a>
    <div id="lastinfo">
        <div id="connect">
            <img id="sherlogo" src="../static/Sheryians_logo.webp" alt="">
            <p id="socials">Let's connect with our socials</p>
            <img id="instalogo" src="../static/instalogo.png" alt="">
            <img id="linkedinlogo" src="../static/linkedinlogo.png" alt="">
            <img id="githublogo" src="../static/icons8-discord-50.png" alt="">
            <img id="ytlogo" src="../static/y.png" alt="">
            <img id="xlogo" src="../static/Screenshot 2024-12-19 193244.png" alt="">
        </div>
        <div id="info">
            <h5 id="companyid" class="info_buttons">COMPANY</h5>
            <p class="info_buttons">About Us</p>
            <p class="info_buttons">Support</p>
            <p class="info_buttons">Privacy Policy</p>
            <p class="info_buttons">Terms and Condition</p>
            <p class="info_buttons">Pricing and Refund</p>
            <p class="info_buttons">Hire From Us</p>
            <p class="info_buttons">Bug Bounty</p>
        </div>
        <div id="community">
            <h5 id="communityid">COMMUNITY</h5>
            <p class="inanddi">Inertia</p>
            <p class="inanddi">Discord</p>
        </div>
        <div id="touch">
            <h5 id="touchid">Get In Touch</h5>
            <p class="phn">+91 8109161752</p>
            <p class="phn">+91 9691778470</p>
            <p class="phn">hello@sheryians.com</p>
            <p class="phn">23-B,Indrapuri Sector C, <br>Bhopal(MP),462021</p>
        </div>
    </div>
    <footer id="footer">Copyright <span id="#cpy">&copy;</span> 2024 Sheryians Pvt. Ltd. <br><span id="all">All Rights Reserved.</span></footer>
</body>
</html>