@font-face {
    font-family: "NeueMachina";
    src: url(../static/NeueMachinaRegular.otf);
}
@font-face {
    font-family: "Helvetica";
    src: url(../static/helveticalight587ebe5a59211.ttf);
}
@font-face {
    font-family: "juana";
    src: url(../static/FontspringDEMOjuanalightit.otf);
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
}
#nav_bar{
    width: 100%;
    height: 65px;
    display: flex;
}
#logo{
    width: 23px;
    position: relative;
    top: 10px;
    left: -640px;
}
#logo_heading{
    color: white;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    top: 5px;
    left: -630px;
    font-family: NeueMachina;

}
.buttons{
    width: 120px;
    height: 30px;
    background-color: transparent;
    margin-top: 25px;
    color: white;
    border: none;
    outline: none;
}
#signin_button{
    background-color: rgb(0, 185, 145);
    width: 90px;
    height: 35px;
    color: black;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    margin-left: 15px;
}
#home_button{
    width: 55px;
    height: 30px;
    margin-left: -20px;
    font-size: 15px;
    font-family: NeueMachina;
}
#course_button{
    width: 55px;
    height: 30px;
    margin-left: 10px;
    font-size: 15px;
    font-family: NeueMachina;
}
#boot_button{
    margin-left: 35px;
    font-size: 14px;
    font-family: NeueMachina;
}
#request_button{
    width: 150px;
    margin-left: 14px;
    font-size: 14px;
    font-family: NeueMachina;
}
nav{
    margin-left: 47%;
}
#matter{
    width: fit-content;
    color: white;
    position: relative;
    top: 100px;
    left: 21%;
    font-size: 4.9em;
    margin-top: 10px;
    margin-left: 40px;
    font-family: NeueMachina;
}
#we{
    margin-left: 118.5px;
    position: relative;
    top: -10px;
}
#only{
    margin-left: 29px;
    position: relative;
    top: -10px;
}
#teach{
    color: rgb(0, 185, 145);
    margin-left: 29px;
    position: relative;
    top: -10px;
}
#what{
    margin-left: 29px;
    position: relative;
    top: -50px;

}
#really{
    margin-left: 118px;
    position: relative;
    top: -82px;
}
#good{
    margin-left: 27px;
    position: relative;
    top: -82px;
    font-style:normal;
    font-family: "juana";
    font-weight: 100;
}
#at{
    margin-left: 31.5px;
    position: relative;
    top: -82px;
}
#check_course_button{
    width: 360px;
    height: 44.5px;
    border: none;
    outline: none;
    border-radius: 9px;
    background-color: rgb(0, 185, 145);
    font-size: 21px;
    font-weight:lighter;
    position: relative;
    top: 140px;
    left: 582px;
}
#para_division{
    width: 200px;
    height: 69px;
    font-size: 13px;
    text-align: left;
    color: white;
    position: relative;
    left: 1096px;
    top: 30px;
    font-family: Helvetica;
    font-weight: 300;
    line-height: 16px;
}
#para{
    color: rgb(0, 185, 145);
}
#head_one{
    color: white;
    width: fit-content;
    font-family: Helvetica;
    font-size: 30px;
    position: relative;
    top: 206px;
    left: 500px;
}
#para_first{
    font-family: NeueMachina;
    width: fit-content;
    color: white;
    font-size: 20px;
    position: relative;
    top: 207px;
    left: 450px;
}
#head_two{
    color: white;
    width: fit-content;
    font-family: Helvetica;
    font-size: 30px;
    position: relative;
    top: 145px;
    left: 747px;
}
#para_second{
    font-family: NeueMachina;
    width: fit-content;
    color: white;
    font-size: 20px;
    position: relative;
    top: 145px;
    left: 715px;
}
#head_three{
    color: white;
    width: fit-content;
    font-family: Helvetica;
    font-size: 30px;
    position: relative;
    top: 84px;
    left: 961px;
}
#para_third{
    font-family: NeueMachina;
    width: fit-content;
    color: white;
    font-size: 20px;
    position: relative;
    top: 83px;
    left: 932px;
}
#quate_div{
    width: 900px;
    height: 150px;
    color: white;
    position: relative;
    top: 250px;
    left: 382px;
    font-size: 40px;
    font-family: NeueMachina;
}
#concept{
    color: rgb(0, 185, 145);
    position: relative;
    top:-5px;
    left: 120px;
}
#vedio_frame{
    position: relative;
    top: 260px;
    left: 287px;

}
#learn_more{
    width: 250px;
    height: 44px;
    border: none;
    outline: none;
    border-radius: 9px;
    background-color: rgb(0, 185, 145);
    font-size: 21px;
    font-weight:500;
    position: relative;
    top: 346px;
    left: -21%;
}
#off{
    color: white;
    font-family: NeueMachina;
    font-size: 2.6em;
    position: relative;
    letter-spacing: 0.5px;
    top: 500px;
    left: 66px;
    width: fit-content;
    font-weight: 300;
}
.offers{
    width: 327.1px;
    height: 432px;
    border-radius: 9px;
    background-color:rgb(21, 21, 21);
    position: relative;
    top: 555px;
    left: 3%;
    float: left;
}
#course_offer1,#course_offer2,#course_offer3,#course_offer4{
    margin-left: 25px;
}
.sub_tag{
    width: fit-content;
    text-transform: uppercase;
    font-size: 8px;
    border-radius: 4px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 2px 6px;
    position: relative;
    top: -180px;
    left: 270px;
    font-weight: 800;
}
#place{
    position: relative;
    top: -180px;
    left: 250px;
}
#h1,#h2,#h3,#h4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 25px;
    font-weight: 400;
    align-items: center;
    justify-content: left;
}
.lan{
    width: fit-content;
    text-transform: uppercase;
    border-radius: 4px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(43, 41, 41);
    padding: 3px 6px;
    margin-top: 15px;
    margin-left: 25px;
}
#first_img{
    width: 100%;
    height: 43.7%;
    border-radius: 9px;
}
#second_img{
    width: 100%;
    height: 43.7%;
    border-radius: 9px;
}
#third_img{
    width: 100%;
    height: 43.7%;
    border-radius: 9px;
}
#forth_img{
    width: 100%;
    height: 43.7%;
    border-radius: 9px;
}
.limited{
    color: rgb(0, 185, 145);
    position: relative;
    top: 42px;
    left: 26px;
    font-size: 14px;
    font-family: Helvetica;
    font-weight:300;
    letter-spacing: 0.02em;
}
#span_limited{
    position: relative;
    top: 69px;
    left: 27px;
}
#ganesh{
    color: white;
    font-size: 1.5rem; 
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 39px; 
    left: 28px; 
}
#ganesh_last{
    color: white;
    font-size: 1.5rem; 
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 69px; 
    left: 28px;    
}
.value{
    color: rgb(88, 86, 86);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    position: relative;
    top: 13px;
    left: 115px;
    text-decoration: line-through;
}
#small{
    position: relative;
    top: 42px;
    left: 115px;
}
.discount{
    background-color: white;
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 3px 6px;
    border-radius: 4px;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -10px;
    left: 235px;
}
#id_discount{
    position: relative;
    top: 15px;
    left: 235px;
}
.view_button{
    width: 100%;
    height: 45px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(0, 185, 145);
    position: relative;
    top: 48px;
    font-size: 23px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    outline: none;
    border: none;
}
#view_four_button{
    position: relative;
    top: 73px;
}
#course_offer5{
    height: 392px;
    margin-left: 25px;
    position: relative;
    top: 741px;
}
#place5{
    position: relative;
    top: -164px;
    left: 253px;
}
#top{
    color: white;
    font-family: NeueMachina;
    position: relative;
    top: 1420px;
    left: 93px;
    font-size: 2.8rem;
}
#company{
    color: rgb(0, 185, 145);
    position: relative;
    top: 1420px;
    left: 110px;
    font-size: 2.8rem;
    font-family: NeueMachina;
}
#our{
    color: white;
    font-family: NeueMachina;
    position: relative;
    top: 1420px;
    left: 128px;
    font-size: 2.8rem;
}
#working{
    color: white;
    font-family: NeueMachina;
    position: relative;
    top: 1474px;
    left: -344px;
    font-size: 2.8rem;
}
#company_logos{
    width: 77%;
    position: relative;
    top: 1206px;
    left: 42px;
    margin-left: 10%;
}
#explore{
    width: fit-content;
    padding: 0.45em 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 185, 145);
    border-radius: 9px;
    position: relative;
    top: 1256px;
    left: 643px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 23px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}
#lastinfo{
    width: 96%;
    height: 448px;
    border-top: 0.5px white solid;
    border-bottom: 0.5px white solid;
    position: relative;
    top: 909px;
    left: 35px;
    margin-top: 485px;
}

#footer{
    color: white;
    font-weight: 750;
    position: relative;
    top:900px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.8px;
    margin-top: 19.7px;
    margin-left: 42.7%;
    padding-bottom: 30px;
    line-height: 18px;
}
#all{
    position: relative;
    left: 6.2%;
}


#sherlogo,#instalogo,#linkedinlogo,#githublogo,#ytlogo,#xlogo{
    width: 25px;
    display: inline;
}

#sherlogo{
    width: 42.4px;
    position: relative;
    left: 13%;
    top: 110px;
}
#socials{
    position: relative;
    top: 125px;
    left: 13%;
    word-spacing: -2px;
    font-size: 13.9px;
    color: white;
    font-family: helvetica;
}
#connect{
    width: 270px;
    height: 420px;
    color: white;
    position: relative;
    top: 0px;
    left: -3px;
}
#instalogo{
    width: 26px;
    position: relative;
    left: 13%;
    top: 140px;
}
#linkedinlogo{
    width: 19px;
    position: relative;
    left: 22%;
    top: 137px;
}
#githublogo{
    width: 24px;
    position: relative;
    left: 31.6%;
    top: 140px;
}
#ytlogo{
    width: 22px;
    position: relative;
    left: 41%;
    top: 139px;
}
#xlogo{
    width: 25px;
    position: relative;
    left: 49%;
    top: 138px;
}


.info_buttons{
    position: relative;
    margin-bottom: 15.5px;
    font-family: helvetica;
}
#info{
    width: 200px;
    height: 160px;
    color: white;
    position: relative;
    top: -321.5px;
    left: 37.1%;
    font-size: 13.8px;
    font-family: helvetica;
}
#companyid{
    font-size: 15.6px;
    margin-bottom: 23px;
}

#community{
    width: 200px;
    height: 160px;
    color: white;
    position: relative;
    top: -483px;
    left: 63.45%;
    margin-bottom: 20px;
    font-family: helvetica;
}
#communityid{
    position: relative;
    font-size: 15.6px;
    font-family: helvetica;
}
.inanddi{
    position: relative;
    bottom: -24px;
    font-size: 13.8px;
    margin-bottom: 14px;
}

#touch{
    width: 200px;
    height: 160px;
    color: white;
    position: relative;
    top: -661.5px;
    left: 87.45%;
}
#touchid{
    position: relative;
    font-size: 15.6px;
    font-family: helvetica;
    margin-bottom: 23px;
}
.phn{
    font-family: helvetica;
    font-size: 14px;
    margin-bottom: 15px;
    word-spacing: -5px;
}
